{% extends "account/base.html" %}
{% load i18n %}

{% block title %}Password Reset Email Sent | Clothing Store{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1>{% trans "Password Reset Email Sent" %}</h1>
            </div>
            <div class="card-body">
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                <p><a href="{% url 'two_factor:login' %}" class="btn btn-primary">Return to Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}