{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Changed | Clothing Store{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1>{% trans "Password Changed" %}</h1>
            </div>
            <div class="card-body">
                <p>{% trans 'Your password has been changed successfully.' %}</p>
                <p><a href="{% url 'two_factor:login' %}" class="btn btn-primary">{% trans 'Log in with new password' %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}